.title {
  font-size: 25px;
  line-height: 1.6; /* 40/25 */
  font-weight: 700;
  color: #f8f9fa;
}
.title_black {
  font-size: 25px;
  line-height: 1.6; /* 40/25 */
  font-weight: 700;
  color: #212529;
}
.items-design-page__image{
  flex: 0 0 38.91050583657588%;
  margin-bottom: 30px;
}

.info-design__date {
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  color: #495057;
  margin-bottom: 15px;
}

.info-design__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #212529;
  
}
