@import url("reset.css");

body{
    font-family: "Inter", sans-serif;
	font-size: 16px;
	background-color: #E5E5E5;
    line-height: 1.5;
}

.wrapper{
    overflow: clip;
    min-height: 100%;
}

.header__container {
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin:0 auto;
}

.header {
    width: 100%;

    padding-top: 29px;
    padding-bottom: 29px;
    position: fixed;
    left:0px;
    top:0px;
}


.header__logo{
    display: inline-block;
}

.menu__item{
    display: inline-block;
    margin-right: 35px;
    
    
}


.menu__link_margin{
    margin-right: 30px;
    margin-left: 45px;
}


.menu__vector{
    position: absolute;
    top: 8px;
    left:160px;
    z-index: 15;

}

.menu{
    display: inline-block;
    position: relative;
    top: 10px;
    margin-left: 44px;
    
    
}


.header__icons{
    display: inline-block;
}

.icons__items{
    position:relative;
}
