@import url("reset.css");


body {
  font-family: 'Oswald', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Inter', sans-serif;

  color: #000000;
  
}

::-webkit-scrollbar{
  width: 15px;
}

::-webkit-scrollbar-thumb{
  background-color: aqua;
  border-radius: 10px;
}

::-webkit-scrollbar-track{
  background-color: rgb(18, 17, 17);
  width: 50px;
}






.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  

}

.page{
  margin: 0 auto;


}

[class*="__container"] {
  max-width: 1270px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.title_first-margin{
  margin-bottom: 34px;
  margin-top: 70px;
}



.title{
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 68px;

}


.title-second_margin{
  margin-bottom: 40px;
  margin-top: 46px;
}


.title-second{
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 68px;
  

}


.form{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  gap: 44px;
  


}




.form input{
  border: 1px solid #C4C4C4;
  width: 451px;
  height: 44px;

  padding: 0 16px;
  
   


}

.form__select{
  border: 1px solid #C4C4C4;
  width: 451px;
  height: 44px;
  padding: 0 16px;
 
}

.form label{
  min-width: 124px;
  color:#3F3F3F;
}

.form__line{
  display: flex;
  gap: 31px;



}


.form__text{
  color: #828282;
  font-size: 14px;
}


.login {
  display: flex;
  gap: 25px;
  align-items: center;

}

.login button{
  font-family: 'Oswald', sans-serif;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  width: 120px;
  height: 50px;
  background-color: #000000;
  transition: background-color 0.4s ease-out,color 0.4s ease-out;
  
  
}


.login__link {
  color: #0F6DB1;
}

.login__link:hover{
  text-decoration: underline;
}

.login__button:hover{
  color: black;
  background-color: orange;
}



.login-linear{
  width: 606px;
  border: 1px solid #C4C4C4;
  margin-bottom: 39px;
  

  

}


.title-linear{

  width: 606px;
  border: 1px solid #C4C4C4;

}


.radio-linear{
  width: 606px;
  border: 1px solid #C4C4C4;
  


}

.form_margin{
  margin-bottom: 63px;
}



.radio__item{
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color:#000000;
  cursor: pointer;
  


}


.radio__item_bottom-magrin{
  margin-bottom: 35px;

}


.form-radio{
  
}



.form-radio__line {
  margin-bottom: 24px;

}
.radio {

  display: flex;
  flex-direction: column;
  
}
.radio__item {
  display: flex;
  padding: 15px;
  position: relative;
  


}
.radio__input {
  position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;

}
.radio__label {

  cursor: pointer;
	display: inline-flex;
	align-items: center;
	gap: 13px;
	flex: 0 1 65px;
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;
	color: #3F3F3F;

}


.radio__label::before {
	content: "";
	flex: 0 0 10px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #ffffff;
	border: 2px solid #3F3F3F
}

.radio__input:hover{
  border: 5px solid black;

}


.content-radio{
  display: flex;
	flex: 0 1 210px;
	justify-content: space-between;
  align-items: center;
}

.radio__item label{
  margin-right: 107px;

}

.content-radio-text{
  font-family: 'Roboto';
	font-weight: 400;
	font-size: 14px;
	line-height:1.43;
  color:#3F3F3F;

}



.radio__input:checked +  .radio__label::before {
  content: "";
  border-radius: 50%;
	background-color: #ffffff;
	border: 3px solid #000;


}



.form__button {
}
.button-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.button-form__next {
  width: 120px;
  height: 50px;
  background-color: #000000;
  transition: background-color 0.4s ease-out,color 0.4s ease-out;
  font-family: 'Oswald', sans-serif;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.button-form__next:hover{
  color: black;
  background-color: orange;
}


.button-form__back {
  font-family: 'Oswald';
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #828282;
  transition: all 0.5s ease-out,color 0.4s ease-out;

}


.button-form__back:hover{
  transform: scale(1.2);
  color: black;
  

}

.button-block{
  
}

/* ________________________ */







.next-page {
  
  margin-top: 50px;
  font-family: 'Inter', sans-serif;
  color:#637381;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 50px;
  
  
}
.next-page__container {
  max-width: 730px;
  margin: 0 auto;
}
.next-page__content {
}
.content-next-page {
  flex-wrap: wrap;
}




.form-content{

  display: flex;
  flex-direction: column;
  gap: 30px;


}

.form-content__line{
  display: flex;
  gap: 28px;
}



.content-next-page__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 30px;

  color: #212B36;
}

.form-content__input{

  border: 1px solid #3056D3;
  border-radius: 7px;
  min-width: 336px;
  min-height: 54px;
  padding:15px 15px 15px 25px;
}



.form-content__area{
  width: 700px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #637381;
  resize: vertical;
	height: 180px;
  margin-bottom: 35px;
  border: 1px solid #637381;
  border-radius: 5px;
}


.forms-block {
  

}
.block-forms {
  margin-bottom: 55px;
  

}

.block-forms__item{
  position: relative;
  
}


.block-forms__item:not(:last-child){
	margin-bottom: 25px;
}

.block-forms__input {
  position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;

  
}

.block-forms__label {
  
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  


  cursor: pointer;
	display: inline-flex;
	align-items: flex-start;
	gap: 14px;
  

  
}

.checkbox-billing__label:before{
	content: '';
	flex: 0 1 22px;
	width: 22px;
	height: 22px;
	border-radius: 4px;
	border: 0.7px solid #E7E7E7;
}


.block-forms__input:checked + .block-forms__label:before{
	content: '';
	background: url("../img/icons/check.png") center no-repeat;
	width: 22px;
	height: 22px;
	border-radius: 4px;
	border: 0.7px solid #E7E7E7;

}


.apply-coupon__title_margin {
  margin-bottom: 25px;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #212B36;
  
}


.coupon-item {
  display: flex;
  gap:20px ;
  
}
.coupon-item__input {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: 325px;
  height: 48px;
  padding:0px 16px;
  border: 1px solid #637381;
  border-radius: 5px;
 
}
.coupon-item__apply {
  padding: 12px 22px 12px 22px;
  background: #212B36;
  color: #FFFFFF;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  transition: background-color 0.4s ease-out,color 0.4s ease-out;
}

.coupon-item__apply:hover{
  color: black;
  background-color: orange;

}

.content-next-page__form{
  margin-bottom: 40px;
}



@media (max-width: 1270px) {
  .page__container{
      max-width: 970px;
      
}
}

 @media(max-width:635.98px){
  .form input{
    width: 50%;
    
  }
	

} 




@media(max-width:516.98px){
  .content{
    width: 50%;}
    
  }

@media(max-width:516.98px){
    .title_first-margin{
      margin-top: 20px;
       margin-bottom: 20px;
 }
      
 }

 @media(max-width:516.98px){
  .title-second_margin{
    margin-top: 10px;
   margin-bottom: 0px;
}
    
}

@media(max-width:635.98px){
  .form__select{
    width: 50%;
    
}
    
}

@media(max-width:635.98px){
  .content-radio-text{
    width: 50%;
    flex-direction: row;
    gap: 50px ;
    
    
}
    
}

@media(max-width:516.98px){
  .content-radio-text{
    width: 25%;
    flex-direction: row;
    gap: 10px ;
    
    
}
    
}

@media(max-width:516.98px){
  .radio__item label{
    margin-right: 20px;
  }
    
    
  }

  @media(max-width:516.98px){
    .form-content__line{
      display: flex;
      flex-direction: column;
    }
      
      
    }
    
    @media(max-width:516.98px){
      .form-content__area{

      width: 100%;
      }
        
        
      }
    

  

      @media(max-width:516.98px){
        .coupon-item__input{
  
        width: 50%;
        }
          
          
        }

        .home-page{
          font-size: 30px;
          font-weight: 700;
          border-radius: 5px;
          border: 2px solid black;
          padding: 5px;
        }
      