@import url("reset.css");

body{
    font-family: 'Poppins', sans-serif;
	font-weight: 300;
	color: #495057;
    font-size: 12px;
}


.wrapper{
    overflow: clip;
    min-height: 100%;
    display: flex;
	flex-direction: column;
    
}

main{
    flex: 1 0 0;
}


[class*="container"]{
    max-width: 1270px;
    padding-right: 15px;
    padding-left: 15px;
    margin:0 auto;
}

.main {
}

.flex{
    font-weight: 500;
    font-size: 12px;


}

.main__flex{
    display: flex;
    margin-top: 100px;
    margin-bottom: 44px;
    
}

.flex__categories {
    order: -1;
    display: inline-block;
    position: relative;

}




.flex__categories span{
    margin-left: 7px;
    transition: 0.3s;
    display: inline-block;
    
    
    
}

.flex__categories:hover span{
    transform: rotateZ(180deg);
    
}

.column{
    display: flex;
    flex: 1;
    justify-content: end;

}

.column__item_margin{
    margin-right: 20px;

}

.column__item{
    color: rgba(73, 80, 87, .5);
    transition: all 0.3s;
    

   
}

.column__item:hover{
    color: rgb(73, 80, 87);
    

}




/* CARDS */


.cards {
    display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	margin: 0px -15px 60px;
}
.cards__column {
    flex: 0 1 33.333%;
}
.cards__items {
    max-width: 400px;
    padding: 15px;
 
}

.cards__image{ 
    position: relative;
	border-radius: 3px;
	overflow: hidden;
    margin-bottom: 30px;
    
}

.cards__image img {
	max-width: 100%;
	transition: transform .6s ;

}

.cards__image:hover img {
	transform: scale(1.1);
}


.creative {
    position: absolute;
	top: 30px;
	right: 20px;
	padding: 3px 12px;
	background-color: rgba(33, 37, 41, 0.3);
	color: #F8F9FA;
	font-size: 8px;
	font-weight: 700;
	line-height: 2.5;
	border-radius: 3px;
	text-transform: uppercase;
	transition: transform .5s;
    

}

.creative:hover{
    transform: scale(1.1);
	background-color: rgba(33, 37, 41, 0.709);
}
.cards__content {
    
}
.content {
    
    
}
.content__date {
    line-height: 20px;
    margin-bottom: 15px;
    
}
.content__title {
    font-weight: 700;
    font-size: 25px;
    color: #212529;
    line-height: 40px;
    margin-bottom: 15px;
}
.content__text {
    flex-grow: 1;
    line-height: 20px;
    margin-bottom: 30px;
}
.content__name {
    line-height: 20px;

}
.cards__item {
}




.content-button {
    display: flex;
	justify-content: center;

}

    
    
.content-button__text{
    color: #F8F9FA;
	font-weight: 500;
	line-height: 2.1;
	background-color: #212529;
	padding: 8px 50px;
	border-radius: 3px;

}