@import url("reset.css");

body{
    font-family: 'Poppins', sans-serif;
	font-weight: 300;
	line-height: 1;
	color: #495057;
}


.wrapper{
    overflow: clip;
    min-height: 100%;
    display: flex;
	flex-direction: column;
    
}

main{
    flex: 1 0 0;
}


[class*="container"]{
    max-width: 1270px;
    padding-right: 15px;
    padding-left: 15px;
    margin:0 auto;
}

.main {
}

.flex{
    font-weight: 500;
    font-size: 12px;


}

.main__flex{
    display: flex;
    margin-top: 100px;
    margin-bottom: 44px;
    
}

.flex__categories {
    order: -1;
    display: inline-block;
    position: relative;

}




.flex__categories span{
    margin-left: 7px;
    transition: 0.3s;
    display: inline-block;
    
    
    
}

.flex__categories:hover span{
    transform: rotateZ(180deg);
    
}

.column{
    display: flex;
    flex: 1;
    justify-content: end;

}

.column__item_margin{
    margin-right: 20px;

}

.column__item{
    color: rgba(73, 80, 87, .5);
    transition: all 0.3s;
    

   
}

.column__item:hover{
    color: rgb(73, 80, 87);
    

}





.cards {
    display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	margin: 0px -15px 60px;
	row-gap: 45px;
   
    
    
    
}
.cards__column {
    flex: 0 1 33.333%;
    
    
}
.cards__item {
    background-color: gray;
    padding: 15px;
    
    
}
.item-card {
    max-width: 393px;
    
    


    

}

.item-card__image{
    

}

.item-card__image img {
    max-width: 100%;
}
.creative {
}
.item-card__date {
    
}
.item-card__title {
}
.item-card__text {
    flex-grow: 1;
}
.item-card__name {
}